<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>7701995260-aqeulc602f3e1uspaq6sfb65efvrqsht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXHp3Yiyuu5MeilBYQOwsPJkctm5jcRo</string>
	<key>GCM_SENDER_ID</key>
	<string>7701995260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.derastudio.cakeschoolweb</string>
	<key>PROJECT_ID</key>
	<string>cakeschool-971b3</string>
	<key>STORAGE_BUCKET</key>
	<string>cakeschool-971b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7701995260:ios:348baf7752b93b606e0179</string>
</dict>
</plist>